<div class="col-12 page-header text-center">
  <h1>Profiles</h1>
</div>
  
  <div class="col-lg-4">
    <div class="container">
      <figure class="figure">
        <%= image_tag  @profile.picture.medium.url, class: 'figure-img img-fluid rounded'%>
      </figure>
      <div>
        <%= @profile.biography %>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    
  </div>
  <div class="col-lg-4">
    <div class="container">
      <div class="col-12">
        Name: <%= @profile.first_name + @profile.last_name %><br>
      </div>

      <div class="col-12">
        Email: <%= @profile.email%><br>
      </div>

      <div class="col-12">
        City: <%= @profile.city %><br>
      </div> 

      <div class="col-12">
        Country: <%= @profile.country %><br>
      </div>

      <div class="col-12">
        <%= link_to 'Edit', edit_user_registration_path(@profile), :class => 'btn btn-info' %><br>
      </div>
    </div>
  </div>



<!--
    <td><%= link_to 'Show', @profile %></td>
    <td><%= link_to 'Edit', edit_profile_path(@profile) %></td>
    <td><%= link_to 'Destroy', @profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
 

<br>

<%= link_to 'New Profile', new_profile_path %>
--> 