<%= form_with(model: blacklist, local: true) do |form| %>
  <% if blacklist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blacklist.errors.count, "error") %> prohibited this blacklist from being saved:</h2>

      <ul>
      <% blacklist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container">
    <div class="col-12">
      <div class="form-group">
        <%= form.label :user_id %><br />
        <%= form.number_field :user_id, autofocus: true, autocomplete: "user_id", :class => 'form-control' %>
      </div>

      <div class="actions text-center">
        <%= form.submit %>
      </div>
    </div>
  </div>
<% end %>
