<%= form_with(model: admin, local: true) do |form| %>
  <% if admin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin.errors.count, "error") %> prohibited this admin from being saved:</h2>

      <ul>
      <% admin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container text-center">
    <div class="form-group">
      <%= form.label :user_id, "User" %><br>
      <%= form.collection_select :user_id,  User.order(:email).where.not(id: Admin.select('user_id')).where.not(id: SuperAdmin.select('user_id')), :id, :email, include_blank: true , class: 'form-control'%>
    </div>
    <% if @new == false %>
      <div>
        <%= link_to "Location", location_admin_path(@admin), :remote=>true , :class => 'btn btn-dark' %><br>
      </div>
    <% end %>
    <div>
      <br><br>
    </div>

    <div class="actions">
      <%= form.submit :class => 'btn btn-info' %>
    </div>
  </div>
<% end %>
<div id="modal" style="display: none"></div>