<div class="col-12 text-center">
  <h1>Admins</h1><br>
</div>
<div class="col-12 text-center">
  <%= form_tag "/search/admin", method: :get, remote: true, id:"search-form" do %>
    <%= text_field_tag :keyword, nil, placeholder: "search"%>
    <%= content_tag :button, type: :submit do %>
      <i class="fa fa-search"></i>
    <% end %>
  <% end %><br>
</div>
<div class="col-2"></div>
<div class="col-8">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Email</th>
        <th>Location</th>
        <th>Last Modification</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody id="answer">
      <% @admins.each do |admin| %>
        <tr class="deleteSearh">
          <td><%= User.where(id: admin.user_id )[0].email %></td>
          <td><%= User.where(id: admin.user_id )[0].address %></td>
          <td><%= admin.updated_at %></td>
          <td><%= link_to 'Show', admin, :class => 'btn btn-info' %></td>
          <td><%= link_to 'Edit', edit_admin_path(admin), :class => 'btn btn-info' %></td>
          <td><%= link_to 'Destroy', admin, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-info' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="col-2"></div>
<br>

<div class="col-12 text-center">
  <%= link_to 'New Admin', new_admin_path, :class => 'btn btn-info' %>
</div>
<div class="col-12">
  <br>
</div>