<header>
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
        	<%= link_to 'Log in', root_path , :class => 'nav-link'%>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="container d-xl-flex justify-content-md-center">
	<div class="jumbotron justify-content-md-center">
		<%= form_for(:registrations, url: sign_in_path) do |f| %>
		<div class="text-center mb-4">
		    <h2>Sign up</h2>
		</div>
		<div class="row">
		    <div class="col-sm-6">
			    <div class="form-group">
					<%= f.label :email %>
					<%= f.text_field :email , :class => 'form-control'%>
				</div>
				<div class="form-group">
					<%= f.label :country, "Country" %>
					<%= f.text_field :country , :class => 'form-control'%>
				</div>
				<div class="form-group">
					<%= f.label :city, "City" %>
					<%= f.text_field :city , :class => 'form-control'%>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
				     <%= f.label :biography %>
				     <%= f.text_field :biography , :class => 'form-control' %>
				</div>
			<div class="form-group">
				<%= f.label :password, "Password" %>
		 	    <% if @minimum_password_length %>
					<em>(<%= @minimum_password_length %> caracteres mínimo)</em>
				<% end %>
				<%= f.password_field :password, autocomplete: "off" , :class => 'form-control' %>
			</div>
		</div>
	</div>
			
	<div class="actions mt-4">
		<div class="row"> 
			<div class="col-6 text-center">
				<%= link_to 'Back', root_path , :class => 'btn btn-dark'%>
			</div>
			<div class="col-6 text-center">
				<%= f.submit "Sign in", :class => 'btn btn-dark'%>
			</div>
		</div>
	</div>
	<% end %>
</div>
