<div class="col-12 page-header text-center">
  <h1></h1>
</div>
<% if (user_signed_in?) %>
	<div class="col-12"><br></div>
	<div class="col-12 text-center">
		<%= link_to 'New Post', new_post_path , :class => 'btn btn-info'%>
	</div>
	<div class="col-12"><br></div>
	<div class="container" >
	  <div class="row">
	  	<div class="col-12 text-center">
	  		<%= form_tag "/search/post", method: :get, remote: true, id:"search-form" do %>
	  			<%= text_field_tag :keyword, nil, placeholder: "search"%>
	  			<%= content_tag :button, type: :submit do %>
	  				<i class="fa fa-search"></i>
	  			<% end %>
	  		<% end %>
	  	</div>
		<div class="row answer">
		</div>
	  	<div class="row deleteSearh" id="posts">
	    	<%= render @posts %>
	    	<%= will_paginate @posts %>
		</div>
	  </div>
	</div>
	<div class="col-12"><br></div>
<% else %>
	<div class="container d-xl-flex justify-content-md-center">
		<div class="jumbotron justify-content-md-center">
	    	<div class="text-center">
	    		<H1>Welcome</H1>
	    		<P>Lorem ipsum dolor sit amet consectetur adipiscing, elit curae urna nisi lobortis potenti, tincidunt molestie sem commodo gravida. Cum congue convallis curabitur viverra posuere conubia odio praesent quisque montes natoque platea venenatis scelerisque dictumst, cubilia felis fermentum per duis sapien porttitor senectus velit sem nunc tellus ac.</P>
	    		<%= link_to "Log in" , new_user_session_path, :class => "btn btn-outline-dark"%>
	    		<%= link_to "Sing up" , new_user_registration_path , :class => "btn btn-outline-dark"%>
	    	</div>
		</div>
	</div>
<% end %>
