<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="container">
    <div class="hidden">
      <div class="form-group">
        <%= form.label :solver, "Solver" %>
        <%= form.check_box :solver%>
      </div>
            
      <div class="form-group">
        <%= form.label :active, "Active" %>
        <%= form.check_box :active  %>
      </div>
    </div>
      
    <div class="form-group">
      <%= form.label :title, "Title" %>
      <%= form.text_field :title, :class => 'form-control'%>
    </div>
          
    <div class="form-group">
      <%= form.label :text, "Text" %>
      <%= form.text_field :text , :class => 'form-control'%>
    </div>

    <div class="form-group">
      <%= form.label :file, "File" %><br>
      <%= form.file_field :file %>
    </div>

    <div class="hidden">
      <div class="form-group">
        <%= form.label :user_id, "User" %><br>
        <%= form.number_field :user_id %>
      </div>
    </div>
    
    <div class="actions text-center">
      <%= form.submit %>
    </div>
  </div>
<% end %>
