<% if @col6 %>
	<div class="col-sm-6">
<% else %>
	<div class="col-sm-12">
<% end %>
	<div class="col-12"><br></div>
	<div class="container border border-dark">
		<div class="col-12"><br></div>
		<div class="row">
		    <div class="col-2"> 
		    	<figure class="figure">
		    		 <%= image_tag User.where(id: post.user_id )[0].picture.medium.url, class: 'figure-img img-fluid rounded'%>
		    	</figure>   
		    </div>
		    <div class="col-10">
		    	<div class="row">
			      	<div class="col-10 card-title">
			        	<h4><%= post.title %></h4>
			      	</div>
			      	<div class="col-2">
			      		<% dumpster =  Dumpster.where(post_id: post.id).first %>
			      		<% unless (dumpster.nil?) %>
			      			<%= link_to fa_icon("times 2x"), Dumpster.where(post_id: post.id).first, method: :delete, data: { confirm: 'Are you sure?'} %>
			      		<% end %>
			      		<% if (post.user_id == current_user.id) %>
			      			<%= link_to fa_icon("times 2x"), post , method: :delete, data: { confirm: 'Are you sure?'} %>
			      		<% end %>
			      	</div>
		    	</div>
		      	<div class="col-12">
		        	<%= User.where(id: post.user_id )[0].email %>
		      	</div>
		      	<div class="col-12">
			       <br>
		      	</div>
		      	<div class="col-12">
		      		<% if  post.file.thumb.url %>
			      		<figure class="figure">
			    		 	<%= image_tag post.file.thumb.url, class: 'figure-img img-fluid rounded'%>
			    		</figure> 
			    	<% end %>
		      		<br>
		        	<%= post.text %>
		      	</div>
		      	<div class="col-12">
			      	<div class="row">
				        <div class="col-6"></div>
					    <div class="col-1">
					       	<button class="btn my-2 my-sm-0" type="submit">
					       		<i class="fa fa-thumbs-up fa-stack-2x"></i>
					       	</button>
					    </div>
					    <div class="col-1"></div>
					    <div class="col-1">
					       	<button class="btn my-2 my-sm-0" type="submit">
						      	<i class="fa fa-commenting fa-stack-2x"></i>
						    </button>
					    </div>
					    <div class="col-1"></div>
					    <div class="col-1">
					        <% if (Dumpster.where(post_id: post.id).first.nil?) %>
						        <button class="btn my-2 my-sm-0" type="submit">
						      		<i class="fa fa-exclamation-triangle fa-stack-2x"></i>
						        </button>
						    <% else %>
						        <button class="btn my-2 my-sm-0" type="submit">
						        	<i class="fa fa-eye-slash fa-stack-2x"></i>
						      	</button>
						    <% end %>
					    </div>
					    <div class="col-1"></div>
				    </div>
		      	</div>
		    </div>
		</div>
		<div class="col-12"><br></div>
	</div>
	<div class="col-12"><br></div>
</div>


