<% if @col6 %>
	<div class="col-lg-6 deleteSearh">
<% else %>
	<div class="col-lg-12 deleteSearh">
<% end %>
	<div class="col-12"><br></div>
	<div class="container border border-dark">
		<div class="col-12"><br></div>
		<div class="row">
		    <div class="col-2"> 
		    	<figure class="figure">
		    		 <%= image_tag User.where(id: post.user_id )[0].picture.medium.url, class: 'figure-img img-fluid rounded'%>
		    	</figure>   
		    </div>
		    <div class="col-10">
		    	<div class="row">
			      	<div class="col-10 card-title">
			        	<h4><%= post.title %></h4>
			      	</div>
			      	<div class="col-2">
			      		<% @dumpster =  Dumpster.where(post_id: post.id).first %>
			      		<% if ((@dumpster.nil? == false) and @is_admin) %>
			      			<%= link_to fa_icon("times 2x"), Dumpster.where(post_id: post.id).first, method: :delete, data: { confirm: 'Are you sure?'} %>
			      		<% end %>
			      		<% if (post.user_id == current_user.id) %>
			      			<%= link_to fa_icon("times 2x"), post , method: :delete, data: { confirm: 'Are you sure?'} %>
			      		<% end %>
			      	</div>
		    	</div>
		      	<div class="col-12">
		      		<% user = User.where(id: post.user_id )[0] %>
		      		<%= link_to user.email, user %>
		      	</div>
		      	<div class="col-12">
			        <i class="fa fa-map-marker"></i> <%= User.where(id: post.user_id )[0].city %>, <%= User.where(id: post.user_id )[0].country %> 
			    </div>
		      	<div class="col-12">
		      		<% if  post.file.thumb.url %>
			      		<figure class="figure">
			    		 	<%= image_tag post.file.thumb.url, class: 'figure-img img-fluid rounded'%>
			    		</figure> 
			    	<% end %>
		      		<br>
		        	<%= post.text %>
		      	</div>
		      	<div class="col-12">
			      	<div class="row">
			      		<% if @newcomment %>
			      			<div class="col-12">
			      				<%= render '/comments/form', comment: @comment %>
			      			</div>

			      		<%else%>
					        <div class="col-4"></div>
						    <div class="col-1">
						       	<br>
						       	<%= link_to fa_icon("thumbs-up 2x"), like_post_path(post), method: :put  %>
						       	<br>
								<%= post.get_upvotes.size %>
						    </div>
						    <div class="col-1"></div>
						    <div class="col-1">
						    	<br>
						       	<%= link_to fa_icon("thumbs-down 2x"), unlike_post_path(post), method: :put  %>
								<br>
								<%= post.get_downvotes.size %>
						    </div>
						    <div class="col-1"></div>
						    <div class="col-1">
						    	<br>
							    <%= link_to fa_icon("commenting 2x"), post %>
						    </div>
						    <div class="col-1"></div>
						    <div class="col-1">
						        <% if (Dumpster.where(post_id: post.id).first.nil?) or (@is_admin==false) %>
						        	<br>
						        	<%= link_to fa_icon("exclamation-triangle 2x"), report_post_path(post), :remote=>true %>
							    <% else %>'
							    	<% if post.active %>
							    		<br>
						        		<%= link_to fa_icon("eye 2x"), deactive_post_path(post), class: "active",:remote=>true %>
							    	<% else %>
							    		<br>
						        		<%= link_to fa_icon("eye-slash 2x"), active_post_path(post), class: "deactive", :remote=>true %>
						        	<% end %>
							    <% end %>
						    </div>
						    <div class="col-1"></div>
						<% end %>
				    </div>
		      	</div>
		    </div>
		</div>
		<div class="col-12"><br></div>
	</div>
	<div class="col-12"><br></div>
</div>
<div id="modal" style="display: none"></div>

