<div class="container">
	<div class="row">
		<div class="col-4 border">
			<div class="col-12">
				<% @user = User.where(id: @report.user_id )[0] %>
				User report:<br>
				<%= @user.first_name + " "+ @user.last_name %><br><br>
			</div>

			<div class="col-12">
				Email:<br>
				<%= @user.email%>
			</div>
		</div>
		<div class="col-4 border">
			<div class="col-12">
				Comment:<br> 
				<%= @report.short_comment %><br><br>
			</div>
			<div class="col-12">
				Create:<br>
				<%= @report.created_at %>
			</div>
		</div>
		<div class="col-4 border">
			<div class="col-12">
				<% @user =  User.where(id: Post.where(id: @report.post_id )[0].user_id)[0] %>
				User post:<br>
				<%= @user.first_name + " " + @user.last_name %><br><br>
			</div>

			<div class="col-12">
				Email:<br>
				<%= @user.email%>
			</div>
		</div>
	</div>

		
	
	<div class="col-12"><br></div>

	<div class="col-12 text-center">
		<%= link_to 'Back', reports_path, :class => 'btn btn-info' %>
	</div>
	<div class="col-12"><br></div>
</div>
