<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Assignment2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render 'home/navbar' %>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="row">
      <%= yield %>
    </div>
  </body>
  <footer class="page-footer font-small stylish-color-dark pt-4">
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="#"> </a>
    </div>
  </footer>
</html>
